{% extends "layout.html" %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALl Chai</title>
</head>
<body>
    <h1>All types of available chai</h1>
</body>
</html> {% endcomment %}


{% block title %}Home Page{% endblock %}

{% block content %}
<h1>All chai available</h1>

<div class='grid grid-cols-3 gap-4 m-4'>    
    {% for chai in chais  %}
    <div class='bg-blue-500 p-5 rounded'>
        <img class='rounded shadow-lg' src="{{chai.image.url}}" alt="">
        <h3 class='text-2xl font-bold'>{{chai.name}}</h3>
        <a href="{% url 'chai_detail' chai.id %}">
            <button
            type='button'
            class="inline-flex items-center w-full justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-b-md text-white bg-orange-600 hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500"
            >
                {{chai.type}} -- {{chai.id}}
            </button>
        </a>
    </div>
    {% endfor %}
    
</div>

{% endblock %}